html, body {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
}

html{ background-image:url('bg_dark.png'); background-attachment:fixed; }

body {
	text-align: center;
	
}

h1 {
	font-size: 38pt;
	border-bottom: 1px solid #ddd;
	margin: 0;
}

h2.subtitle {
	margin-top: 0px;
	margin-bottom: 40px;
}

#container {
	margin: 100px auto;
	width: 700px;
	color: #eee;
}

#countdown_dashboard {
	height: 96px;
	margin-left: 125px;
}

table,tbody,thead,tfoot,tr,td {
  margin:auto;
  padding:0;
  border:0;
  outline:0;
  font-weight:inherit;
  font-style:inherit;
  font-size:100%;
  font-family:inherit;
  vertical-align:baseline;
}

th {
  font-style: bold;
  border: 0;
  margin:0;
  border-bottom:1px solid #585858;
  padding:0;
}

hr {
  display:block;
  position:relative;
  height:0px;
  line-height:0px;
  border:0;
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #f9f9f9;
  margin:16px 0;
  padding:0;
  clear:both;
}

.faded {
	color: #999;
}

.form_message {
	width: 400px;
	padding: 10px;
	margin: 15px auto;
	display: none;
}

#error_message {
	background-color: #ffe;
	border-left: 5px solid #bb3;
	border-right: 5px solid #bb3;
	color: #770;
}

#info_message {
	background-color: #f0f9ff;
	border: 1px solid #eef;
	color: #247;
}

#loading {
	text-align: center;
	margin: 10px;
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
}

#fancyCountdown { 
  width:600px;
  height:200px;
  margin:auto;
  border: 1px solid black;
}

.clock{
	/* The .clock div. Created dynamically by jQuery */
	background-color:#252525;
	height:200px;
	width:200px;
	position:relative;
	overflow:hidden;
	float:left;
}

.clock .rotate{
	/* There are two .rotate divs - one for each half of the background */
	position:absolute;
	width:200px;
	height:200px;
	top:0;
	left:0;
}

.rotate.right{
	display:none;
	z-index:11;
}

.clock .bg, .clock .front{
	width:100px;
	height:200px;
	background-color:#252525;
	position:absolute;
	top:0;
}

.clock .display{
	/* Holds the number of seconds, minutes or hours respectfully */
	position:absolute;
	width:200px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	z-index:20;
	color:#F5F5F5;
	font-size:60px;
	text-align:center;
	top:65px;
	left:0;
	
	/* CSS3 text shadow: */
	text-shadow:4px 4px 5px #333333;
}

/* The left part of the background: */

.clock .bg.left{ left:0; }

/* Individual styles for each color: */
.orange .bg.left{ background:url(bg_orange.png) no-repeat left top; }
.green .bg.left{ background:url(bg_green.png) no-repeat left top; }
.blue .bg.left{	background:url(bg_blue.png) no-repeat left top; }

/* The right part of the background: */
.clock .bg.right{ left:100px; }

.orange .bg.right{ background:url(bg_orange.png) no-repeat right top; }
.green .bg.right{ background:url(bg_green.png) no-repeat right top; }
.blue .bg.right{ background:url(bg_blue.png) no-repeat right top; }


.clock .front.left{
	left:0;
	z-index:10;
}
